.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  background: url(../img/global__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.hidden {
  visibility: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Main Team */

.main-team {
  /* Задаємо внутрішний відступ зверху 120px */
  /* Задаємо внутрішний відступ знизу 120px */
}

.main-team-container {
  /* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановлюємо напрямок у якому елементи розміщатимуться в колонку */
}

.main-team-logo {
  /* Встановіть товищну(жирність) тексту 700 */
  /* Встановіть розмір шрифту 36 */
  /* Встановіть міжрядковий інтервал 1.11 */
  /* Встановіть текст по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  /* Встановіть інтервал між символами 0.02em */
  /* Встановіть регістр символів у тексті який буде робити перший символ кожного слова в реченні заголовним*/
  /* Встановіть зовнішній відступ знизу 30  */
  /* Встановіть білий колір */
}

.main-title-text {
  /* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановіть елемент по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  /* Встановіть текст по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  /* Встановіть ширину 480 */
  /* Встановіть зовнішній відступ знизу 40 */
  /* Встановіть білий колір */
}

.main-team-images {
  /* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановлюємо напрямок у якому елементи розміщатимуться в колонку */
  background-color: rgba(254, 254, 255, 0.032) rgba(255, 255, 255, 0.018);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* Встановіть радіус рамика в 10px */
  /* Встановіть рамку в 1px та задайте любий колір */
  /* Встановіть рамку в 1px та задайте любий колір */
}

.main-team-images2 {
  /* Відображення flex. Додайте flex контейнер. Це робить його гнучким.  */
  /* Встановіть елемент по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  /* Встановіть радіус рамика в 50% */
  /* Встановіть зовнішній відступ зверху 20 */
}

.main-team-card {
  /* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановіть позиціонуванням елементів на головній осі по центру */
  /* Встановіть відступ 24 (властивість яка відкривається завдяки flex */
}

.main-team-title {
  /* Встановіть товищну(жирність) тексту 500 */
  /* Встановіть розмір шрифту 20 */
  /* Встановіть міжрядковий інтервал 1.2 */
  /* Встановіть текст по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  /* Встановіть інтервал між символами 0.02em */
  /* Встановіть білий колір */
  /* Встановіть зовнішній відступ зверху 32 */
  /* Встановіть зовнішній відступ знизу 8 */
}

.main-team-text {
  /* Встановіть товищну(жирність) тексту 400 */
  /* Встановіть розмір шрифту 16 */
  /* Встановіть міжрядковий інтервал 1.5 */
  /* Встановіть текст по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  /* Встановіть інтервал між символами 0.02em */
  /* Встановіть білий колір */
  /* Встановіть зовнішній відступ знизу 8 */
}

.main-soc-list {
  /* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановіть позиціонуванням елементів на головній осі по центру */
  /* Встановіть відступ 24 (властивість яка відкривається завдяки flex */

  /* Встановіть внутрішній відступ знизу 20 */
  /* Встановіть внутрішній відступ зліва 10 */
  /* Встановіть внутрішній відступ справа 10 */
}

.main-soc-item {
  /* Встановіть ширину 40 */
  /* Встановіть висоту 40 */
}

.main-soc-link {
  /* Встановіть колір фону #0077b5 */

  /* Встановіть ширину 100% */
  /* Встановіть висоту 100% */
  /* Встановіть радіус рамика в 50% */

  /* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановіть позиціонуванням елементів на головній осі по центру */
  /* Встановіть розташуванням елементів вздовж поперечної осі по центру */
}

.main-soc-icon {
  fill: #f4f4fd;
}
